/* CSS reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

*{
    text-decoration: none;
    font-family: 'Lato', sans-serif;
    
}
body{
    background-color: black;
}

/* Style*/

header nav {
    text-align: center;
    padding-bottom: 60px;
    
}

header nav ul li{
    margin: 10px 40px;
    border-bottom: rgb(68, 79, 109) 1px solid;
    padding: 6px 20px;
    text-shadow:1px 1px 10px rgb(0, 0, 0); ;
}

header nav ul li:hover {
    transition: 0.3s;  
    border-bottom-color: rgb(17, 25, 94, 0);
    color: rgb(255, 255, 255);
    text-shadow:4px 4px 10px rgb(250, 217, 223), 
-4px -4px 15px rgb(250, 217, 223);
}
header nav ul li a {
    
    color: rgb(183, 191, 207);
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 14px;
    display: block;
   
}
nav ul li a:hover{
    color: rgb(255, 255, 255);
}

header nav ul li  {
    display: inline-block;
    
}
#active{/*Actualy page menu link is gone*/
    display: none;
}

.contentWrap{
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    display:inline;
    position: relative;
    top: 32vmin;
}

.contentWrap h1{
    font-size:17vw;
    font-weight: 900;
    color: whitesmoke;
    text-align: right;
    padding-right: 4vmax;
    
        }
    
.contentWrap h2{
    font-size: 6vw; 
    
    color: whitesmoke;
    text-align: right;
    padding-right: 4vmax;
}
.baner{
    padding-bottom: 50px;
    font-size: 1.5vw; 
    color: whitesmoke;
    }
.openInstruction{
    padding:50px 0 0 0 ;
}
.baner h3{
    font-size: 5vw; 
    color: whitesmoke;
    font-style: italic;
    font-weight: 300;
    text-shadow: 1px 1px 10px whitesmoke ;
    background-color: rgb(0, 36, 19);
    padding-left: 3em;
    font-family: 'Lato', sans-serif;
}
.baner p a{
    font-size: 12px;
    font-family: 'Lato', sans-serif;
    padding-left: 3em;
    color: rgba(255, 255, 255, 0.747);
}

.wraper{
    display: flex;   
    flex-flow: row;
    flex-wrap: wrap;
    justify-content: space-around;
    
}
.figure {
    width: 520px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 20px 0;
}

.figure :hover{
    
    box-shadow: rgb(0, 0, 0) 2px 2px 15px;
      
}

img { 
    max-width: 100%;
    
} 

.figcap{
    color: rgba(245, 245, 245, 0.664);
    padding: 20px 0 0 0 ;
    line-height: 1.5em;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
}

.italic{
    font-style: italic;
}
.article  p{
    padding: 20px;
}
.footer1{
    background-color: black;
    color: darkgray;
    display: block;
    text-align: center;
    padding: 10px;
}

/*Index page Css*/
.wraperIndexPage{
    background-image: url("Index/pexels-parna-gohil-3716556.jpg");
    /* Zdjęcie autorstwa Parna Gohil z Pexels */
    background-size: cover;
    max-width:  1600px; 
    margin: 0 auto;
    height: 100vh;
    background-position: center;
} 

.indexPageFooter{
    position: absolute; 
    bottom: 20px;
    right: 40%;
    margin: 0 auto;
    color: rgb(76, 84, 102);
}

/*Hannah page Css*/
.GaleryPageHannahBody{
    background-color:rgb(0, 20, 10)!important;
}
.WraperGaleryPageHannah{
    max-width:  1600px; 
    margin: 0 auto;
    border-left: 1px solid black;
    border-right: 1px solid black;
    background-color: rgb(0, 26, 14);
}
.GaleryPageMenuHannah ul li{
    border-bottom: rgb(24, 75, 47) 1px solid;
    padding: 6px 20px;
    text-shadow:1px 1px 10px rgb(0, 0, 0); ;
    
}
.GaleryPageMenuHannah ul li:hover{
    transition: 0.3s;  
    border-bottom-color: rgb(17, 25, 94, 0);
    color: rgb(255, 255, 255);
    text-shadow:4px 4px 10px rgb(245, 245, 245), 
-4px -4px 15px rgb(240, 240, 240);
}

.GaleryPageMenuHannah ul li a{
    color: rgb(150, 182, 165);
}
/*Macro Word page Css*/
.GaleryPageMacroBody{
    background-color: rgb(30, 30, 30)
}
.WraperGaleryPageMacro{
    max-width:  1600px; 
    margin: 0 auto;
    border-left: 1px solid black;
    border-right: 1px solid black;
    background-color: rgb(40, 40, 40);
}
.PageMacroBaner{
    padding-bottom: 50px;
    font-size: 1.5vw; 
    color: whitesmoke;
    
}
.PageMacroBaner h3{
    font-size: 5vw; 
    color: whitesmoke;
    font-style: italic;
    font-weight: 300;
    text-shadow: 1px 1px 10px whitesmoke ;
    background-color:rgb(50, 50, 50);
    padding-left: 3em;
    font-family: 'Lato', sans-serif;
}
.PageMacroBaner a{
    font-size: 12px;
    font-family: 'Lato', sans-serif;
    padding-left: 3em;
    color: rgba(255, 255, 255, 0.747);
}
/*Structure page Css */
.GaleryPageStructureBody{
    background-color: rgb(30, 30, 30)
}
.WraperGaleryPageSrtucture{
    max-width:  1600px; 
    margin: 0 auto;
    border-left: 1px solid black;
    border-right: 1px solid black;
    background-color: rgb(40, 40, 40);
}
.PageStructureBaner{
    padding-bottom: 50px;
    font-size: 1.5vw; 
    color: whitesmoke;
    
}
.PageStructureBaner h3{
    font-size: 5vw; 
    color: whitesmoke;
    font-style: italic;
    font-weight: 300;
    text-shadow: 1px 1px 10px whitesmoke ;
    background-color:rgb(50, 50, 50);
    padding-left: 3em;
    font-family: 'Lato', sans-serif;
}
.PageStructureBaner a{
    font-size: 12px;
    font-family: 'Lato', sans-serif;
    padding-left: 3em;
    color: rgba(255, 255, 255, 0.747);
}
/*About Me page Css */
.AboutMePageBody{
    background-color: rgb(39, 39, 39);
    }
.WraperAboutMePage{
    background-image: url("About/04.jpg");
    /* Zdjęcie autorstwa Parna Gohil z Pexels */
    background-size: cover;
    max-width:  1600px; 
    margin: 0 auto;
    
    background-position: center;
     /*Zdjęcie autorstwa Derice Jason Fahnkow z Pexels*/
}
.AboutMePageHeader{
    background: linear-gradient(#000000, #00000000);

}

.aboutMeContent, .contactContent{
    font-size: 16px;
    color: whitesmoke;
    line-height: 1.5em;
    font-family: 'Lato', sans-serif;
    padding: 20px  ;
    max-width: 400px;
    background-color:rgba(71, 74, 255, 0.25);
}

@keyframes zoom {
    0% {-webkit-transform:scale(1); }
    15% {-webkit-transform:scale(0.95);transform: translate(0, 5px);}
    30% {-webkit-transform:scale(0.95);transform: rotate(-1deg);transform: translate(-5px, 0px);}
    45% {-webkit-transform:scale(0.9);transform: rotate(2deg);}
    60% {-webkit-transform:scale(0.9);transform: rotate(-2deg);transform: translate(5px, 0px);}
    75% {-webkit-transform:scale(0.95);transform: rotate(1deg);}
    100% {-webkit-transform:scale(1);}   }


@media (min-width: 1600px)
 {
    .contentWrap h1 {  font-size: 238px;
        padding-right: 56px;}
    .contentWrap h2 {  font-size: 84px;
        padding-right: 56px;} 
    body#indexPageBody {background-image: url("Index/pexels-parna-gohil-3716556-body.jpg");
            /* Zdjęcie autorstwa Parna Gohil z Pexels */
            background-size: cover;
        }
        body#GaleryPageHannahBody {background-color:  rgb(1, 36, 19);
        /* Zdjęcie autorstwa Parna Gohil z Pexels */
        background-size: cover;}
        .baner h3{
            font-size: 70px;}
    }    
    
    
    @media (min-width: 640px)
    {.figure { width:30%;
    }
    .figure:hover { animation-name: zoom;
        animation-duration: 0.5s;
        animation-fill-mode: backwards;
        }
        .AboutMeMain{
            margin: 20px;
        }}

        @media (orientation: portrait) {h1 span::after {content: '\A'; white-space: pre;}}
    